// UNIVERSAL

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

p {
  font-size: 1.125rem;
}

.site-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  background-color: white;
}

section {
  padding: 5em 0;
}

.card {
  height: 100%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

// CUSTOM COLORS

.clr__bg-primary {
  background-color: #e2871c;
}

.clr__text-secondary {
  color: hsl(219, 43%, 41%);
}

.c__btn-secondary {
  background-color: hsl(219, 43%, 41%);
  color: white;

  &:hover {
    background-color: hsl(219, 43%, 30%);
    color: white;
  }
}

// ICONS

.bi {
  color: black;
}

.icons-group a {
  transition: transform 300ms ease;
  text-align: center;
}

.icons-group a:hover {
  transform: scale(1.2);
}

// NAVIGATION

nav {
  z-index: 100;
}

#navbar_top {
  height: 100px;
}

// SECTION:  HERO

#section__hero {
  padding: unset;
  width: 100%;
}

.hero-container {
  width: 1920px;
}

.img-side {
  overflow: hidden;
}

.img-container {
  height: 100%;
  max-height: 90vh;
}

.img-container img {
  display: block;
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

// SECTION:  PROJECTS

// SECTION: ABOUT

#about {
  position: relative;
  background-image: url(../imgs/double-bubble.png);

  h2 {
    position: relative;
    color: black;
    z-index: 2;
  }

  h2,
  p,
  a {
    position: relative;
    z-index: 2;
  }
}

#about::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsl(219, 43%, 40%, 0.7);
  z-index: 1;
}

#about > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'intro article'
    'intro article'
    'icons article'
    'icons article';

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'intro'
      'article'
      'icons';
  }
}

.about__intro {
  grid-area: intro;
  align-self: center;

  @media (max-width: 768px) {
    align-self: unset;
  }
}

.about__icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, auto));
  grid-area: icons;
  font-size: 40px;
}

.about__article {
  grid-area: article;
}

// SECTION: CONTACT

#contact-wrapper {
  display: grid;
  gap: 40px;
  text-align: justify;
  grid-template-areas:
    'a a b b'
    'c c d d';

  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 768px) {
    grid-template-areas:
      'b'
      'c'
      'd';

    grid-template-columns: 1fr;
  }
}

#contact-wrapper {
  article {
    grid-area: c;
  }

  h2 {
    grid-area: b;
  }

  form {
    grid-area: d;
  }
}

// FOOTER

footer {
  padding: 1rem 0;
}

footer > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
  align-items: center;
}

.footer-icons {
  display: flex;
  gap: 20px;
  grid-column: 2/-1;
  justify-self: end;
}

.footer-icons a {
  font-size: 1.5rem;
}

// .footer-icons a:hover {
//   transform: scale(2);
// }
